.new-tweet {
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

form {
  margin: 10px;
}

form > label {
  font-weight: 600;
  font-size: 0.8em;
  color: rgb(111, 109, 109);
}

#tweet-text {
  background-color: beige;
  overflow: auto;
  resize: none;
  height: 35px;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 3px;
  border-bottom-color: black;
  font-size: 0.7em;
  padding-bottom: 40px;
}

.scroll::-webkit-scrollbar {
  display: none;
}

#tweet-text:focus {
  outline: 0;
}

form > div {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Bungee";
}

.tweet-button {
  font-size: 14px;
  background-color: rgb(12, 87, 153);
  color: white;
}

.tweet-button:focus {
  outline: auto;
}

.word-count {
  font-size: 20px;
}
